body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: hsl(65, 51%, 86%);
}

header, main, footer {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

nav a {
  text-decoration: none;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

article {
  background: white;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
}

article img {
  width: 300px;
  margin-top: 10px;
}

form {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-top: 20px;
}

label {
  display: block;
  margin-top: 10px;
}

input, select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  margin-top: 15px;
  cursor: pointer;
}
